body {
    width: 100%;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
}
header {
    width: 100%;
    min-height: 100%;
    border-bottom: solid 1px #ebebeb;
    padding: 0px;
    margin: 0px;
}
#logo {
    width: 100px;
    height: 30px;
    padding: 15px;
    display: inline;
    margin-right: 20px;
}
#search {
    width: 630px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    z-index: 3;
    background-image: url(//www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png),
    url(http://www.w3.org/2000/svg);
    background-repeat: no-reapeat;
    background-position: 90% 12px, 98% 12px;
    margin: 0 auto;
}
.myform {
    display: inline;
    margin-top: 5px;
    float: left;
    padding: 0px;
    margin: 0px;
}
#toolbar {
    position: relative;
    padding: 20px;
    top: 25px;
}
a {
    text-decoration: none;
    color: #777;
}
.current {
    border-bottom: solid #rgb(25, 25, 216)
}
a .current {
    border-bottom: solid #rgb(25, 25, 216)
    font-weight: bold;
}
li {
    display: inline;
    margin-right: 10px;
}
#navbar2 {
    float: right;
}
#navbar2 li ul {
    padding: 5px;
    font-size: 13px;
}
#footer {
    color: #686868;
    margin-top: 30px;
}
#nav-footer {
    background-color: #f2f2f2;
    padding-left: 15px;
    padding-right: 15px;
}


